services:
  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - odoo-net

  odoo:
    image: odoo:19
    container_name: odoo19
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - ./odoo:/mnt/odoo
      - ./custom_addons:/mnt/custom_addons
      - ./config/odoo.conf:/etc/odoo/odoo.conf
      - odoo-web-data:/var/lib/odoo
    command: >
      odoo
      -c /etc/odoo/odoo.conf
      --addons-path=/mnt/odoo/addons,/mnt/custom_addons
    networks:
      - odoo-net

volumes:
  db-data:
  odoo-web-data:

networks:
  odoo-net:
